@model IEnumerable<Challenge_Alkemy.Models.Posts>
@{
    ViewBag.Title = "Inicio";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4"><strong>Alkemy Challenge</strong></h1>
        <br />
        <div class="imgbox">
            <img src="~/Uploads/mandela.jpg" style=" border-radius: 20px 0 20px 0; max-width: 40%; height: auto;" />
        </div>
        <br />
    </div>
    @*<div class="form-group">
        <form action="" method="post">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="search" id="search" placeholder="Search" class="form-control" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Search" id="buttonSearch" class="btn btn-outline-info" />
                </div>
            </div>
        </form>
    </div>*@
    <div class="row">
        @foreach (var item in Model.ToList())
        {
            <div class="col-sm-6 col-md-2">
                <div class="card">
                    <div class="card-header">
                        <a asp-route-id="@item.ID" asp-controller="Posts" asp-action="Details">
                            @*<img src="~/Uploads/rana.jpeg" height="50" />*@
                            <img src="@Url.Action("RetrieveImage", "Posts", new { id = item.ID })" alt="Image" height="50" />
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <p><strong>@Html.DisplayFor(modelItem => item.Titulo)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>@Html.DisplayFor(modelItem => item.Contenido)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <form method="post" asp-controller="Posts" asp-action="Detail" asp-route-id="@item.ID">
                                            <input type="submit" class="btn btn-success" value="Informacion" />
                                            <input type="hidden" value="@item.ID" name="Id" />
                                            <input type="hidden" name="view" value="1" />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
</div>